{% comment %}
This is an example section that uses the "image_with_heading" schema
{% endcomment %}

{% assign section = section.settings %}

<section>
  <div class="image-with-heading twcss-min-h-[80vh] twcss-bg-cover twcss-bg-no-repeat twcss-bg-center" style="background-image: url({{ section.image | img_url }})">
    <div class="container">
      <h2>{{ section.heading }}</h2>
      {% if section.caption != blank %}
        <p class="caption">{{ section.caption }}</p>
      {% endif %}
      <div class="description">{{ section.description }}</div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "OY Image banner",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Select an image to display"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Enter a heading for the section"
      }, {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "info": "Enter a caption for the image"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "info": "Enter a description for the section"
      }
    ],
    "presets": [
      {
        "name": "OY Image banner"
      }
    ]
  }
{% endschema %}